#images__section{
   background-color: #f8f8f8;
   padding:0 ;
   padding-bottom:8rem;
   overflow:scroll;
   @include mobile{
      .column{
         width: 100%;
      }
   }
   figure{
      width: 100%;
      img{
         width: 100%;
      }
   }
   
}
